# ArgoCD Project: MLOps Applications
# For custom applications deployed on top of infrastructure
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: mlops-applications
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  description: Custom MLOps Applications

  # Source repositories
  sourceRepos:
    - '*'

  # Destination clusters and namespaces
  destinations:
    - namespace: services-stream
      server: https://kubernetes.default.svc
    - namespace: mlops-kubeflow
      server: https://kubernetes.default.svc

  # Namespace resources only (no cluster-wide resources for applications)
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'

  # Deny cluster resources for application project
  clusterResourceWhitelist: []

  orphanedResources:
    warn: true

  roles:
    - name: developer
      description: Deploy and manage applications
      policies:
        - p, proj:mlops-applications:developer, applications, *, mlops-applications/*, allow
      groups:
        - mlops-developers
