# Kustomize overlay for Kubeflow Pipelines
# - Changes namespace from kubeflow to mlops-kubeflow
# - Removes minio (uses external Contabo S3)
# - Adds RBAC for pipeline-runner workflowtaskresults
# - Uses local-path storage for MySQL
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mlops-kubeflow

resources:
  - github.com/kubeflow/pipelines//manifests/kustomize/env/platform-agnostic-emissary?ref=2.4.0
  - s3-secret.yml
  - namespace.yml
  - rbac.yml
  - minio-external-service.yml
  - webhook-tls-secret.yml

# Replace kubeflow namespace references in ClusterRoleBindings
replacements:
  - source:
      kind: Namespace
      name: mlops-kubeflow
      fieldPath: metadata.name
    targets:
      - select:
          kind: ClusterRoleBinding
        fieldPaths:
          - subjects.*.namespace

patches:
  # Remove minio deployment
  - target:
      kind: Deployment
      name: minio
    patch: |
      $patch: delete
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: minio

  # Remove minio service
  - target:
      kind: Service
      name: minio-service
    patch: |
      $patch: delete
      apiVersion: v1
      kind: Service
      metadata:
        name: minio-service

  # Remove minio PVC
  - target:
      kind: PersistentVolumeClaim
      name: minio-pvc
    patch: |
      $patch: delete
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: minio-pvc

  # Patch ml-pipeline-api-server to use external S3
  - target:
      kind: Deployment
      name: ml-pipeline
    patch: |
      - op: replace
        path: /spec/template/spec/containers/0/env
        value:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - name: OBJECTSTORECONFIG_HOST
            value: "eu2.contabostorage.com"
          - name: OBJECTSTORECONFIG_PORT
            value: "443"
          - name: OBJECTSTORECONFIG_SECURE
            value: "true"
          - name: OBJECTSTORECONFIG_BUCKETNAME
            value: "kubeflow-pipelines"
          - name: OBJECTSTORECONFIG_ACCESSKEY
            valueFrom:
              secretKeyRef:
                name: kubeflow-s3-credentials
                key: accessKeyID
          - name: OBJECTSTORECONFIG_SECRETACCESSKEY
            valueFrom:
              secretKeyRef:
                name: kubeflow-s3-credentials
                key: secretAccessKey
          - name: DBCONFIG_USER
            value: root
          - name: DBCONFIG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mysql-secret
                key: password
          - name: DBCONFIG_DBNAME
            value: mlpipeline
          - name: DBCONFIG_HOST
            value: mysql
          - name: DBCONFIG_PORT
            value: "3306"

  # Patch persistence agent for external S3
  - target:
      kind: Deployment
      name: ml-pipeline-persistenceagent
    patch: |
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: OBJECTSTORECONFIG_HOST
          value: "eu2.contabostorage.com"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: OBJECTSTORECONFIG_PORT
          value: "443"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: OBJECTSTORECONFIG_SECURE
          value: "true"
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: OBJECTSTORECONFIG_BUCKETNAME
          value: "kubeflow-pipelines"

  # Expose ml-pipeline-ui via NodePort
  - target:
      kind: Service
      name: ml-pipeline-ui
    patch: |
      - op: replace
        path: /spec/type
        value: NodePort
      - op: add
        path: /spec/ports/0/nodePort
        value: 30030

  # Use local-path storage class for MySQL PVC
  - target:
      kind: PersistentVolumeClaim
      name: mysql-pv-claim
    patch: |
      - op: add
        path: /spec/storageClassName
        value: local-path

  # Patch workflow-controller-configmap to inject KFP_POD_NAME and KFP_POD_UID env vars
  - target:
      kind: ConfigMap
      name: workflow-controller-configmap
    patch: |
      - op: add
        path: /data/workflowDefaults
        value: |
          spec:
            podSpecPatch: |
              containers:
                - name: main
                  env:
                    - name: KFP_POD_NAME
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.name
                    - name: KFP_POD_UID
                      valueFrom:
                        fieldRef:
                          fieldPath: metadata.uid
