admin:
  user: admin
  password: 4k0pYu4JMcZlG8KP

image:
  registry: docker.io
  repository: bitnamilegacy/grafana
  tag: "12.1.1-debian-12-r0"

grafana:
  resources:
    requests:
      memory: "256Mi"
      cpu: "200m"
    limits:
      memory: "512Mi"
      cpu: "500m"

global:
  compatibility:
    allowInsecureImages: true

persistence:
  enabled: true
  storageClassName: local-path
  size: 5Gi

datasources:
  secretDefinition:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-kube-prometheus-prometheus.mlops-mon.svc.cluster.local:9090
      access: proxy
      isDefault: true


service:
  type: NodePort
  ports:
    grafana: 3000
  nodePorts:
    grafana: 30000